.map-container {
height: 69vh;
  position: relative;
  border-radius: 20px;
  margin-top: 90px;
}

.tab {
  height: 94.4vh;
  width: 100%;
  background-color: rgb(0 0 0 / 89%);
  color: #fff;
  padding: 20px;
}

.sidebar {
  color: #fff;
  font-family: monospace;
  position: absolute;
  overflow: hidden;
}


.button-primary-active {
  background-color: green;
  color: white;
}

.button-primary-inactive {
  background-color: red;
  color: white;
}

body {
  background-color: #000000;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

/* App.css or similar */
.SplitPane .Resizer {
  background: #000;
  opacity: 0.2;
  z-index: 1;
  box-sizing: border-box;
  background-clip: padding-box;
}

.SplitPane .Resizer:hover {
  transition: all 0.2s ease;
  opacity: 0.5;
}

.SplitPane .Resizer.vertical {
  width: 5px;
  margin: 0 -2px;
  cursor: col-resize;
}

.SplitPane .Resizer.horizontal {
  height: 5px;
  margin: -2px 0;
  cursor: row-resize;
}

/* src/components/VideoBackground.css */
.video-background {
  position: relative;
  width: 100%;
  height: 94.4vh;
  overflow: hidden;
}

.video-background video {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.content {
  position: relative;
  z-index: 1;
  color: #137cb9;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
  
}