.map-container {
  height: 90.9vh;
  width: 100%;
  /* top: 5vh; */
}

.tab {
  height: 80%;
  width: 99.5%;

}

.sidebar {
  background-color: rgb(35 55 75 / 75%);
  color: #fff;
  font-family: monospace;
  z-index: 1;
  position: absolute;
  margin: 2px;
  border-radius: 2px;
  padding: 5px;
}

.sidebars {
  background-color: rgb(35 55 75 / 75%);
  color: #fff;
  font-family: monospace;
  z-index: 1;
  position: absolute;
  width: 10%;
  height: 10%;
}


.button-primary-active {
  background-color: green;
  color: white;
}

.button-primary-inactive {
  background-color: red;
  color: white;
}

body {
  background-color: #000000;
  margin: 0;
  padding: 0;
}