.map-container {
  height: 69vh;
  position: relative;
  border-radius: 20px;
  width: 75vw;
}

.tab {
  height: 94.4vh;
  width: 100%;
  background-color: rgb(0 0 0 / 89%);
  color: #fff;
  padding: 20px;
}

.sidebar {
  color: #fff;
  font-family: monospace;
  z-index: 1;
  position: absolute;
  overflow: hidden;
}


.button-primary-active {
  background-color: green;
  color: white;
}

.button-primary-inactive {
  background-color: red;
  color: white;
}

body {
  background-color: #000000;
  margin: 0;
  padding: 0;
  overflow: hidden;
}