/* Timeline.css */
.timeline {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 30px;
  }
  
  .timeline-point {
    position: relative;
    padding: 25px;
    border: 4px solid #007bff;
    border-radius: 70%;
    text-align: center;
    margin-left: 40px;
  }
  
  .timeline-point::before {
    content: '';
    position: absolute;
    width: 46px;
    height: 10px;
    background-color: #74a3d6;
    top: 50%;
    left: 100%;
    transform: translateY(-50%);
  }
  
  .timeline-point:last-child::before {
    display: none;
  }
  