body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main_page {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    justify-content: space-between;
}

.left_section {
    display: flex;
    width: 40%;
    height: 90%;
}

.right_section {
    display: flex;
    flex-wrap: wrap;
    width: 60%;
    height: 90%;
    justify-content: space-between;
}

#global_dictionary {
    width: 100%;
    height: 100%;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

#map_box {
    width: 100%;
    height: 60%;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#map {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.uav, .ugv {
    width: 48%;
    height: 39%;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

#Information_display {
    height: 10%;
    width: 100%;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

#nav_bar{
    width:18%;
    height: 100%;
    display: flex;
    flex-direction: column;

}

.Casuality_ID_buttons{
    width: 100%;
    height: 10%;
    border: 1px solid black;
    cursor: pointer;
    text-align: center;
}

